.our__container{
    max-width: 1045px;
    margin-top: 168px;
}
.our__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color:#83888F;
    margin-bottom: 72px;
}
.our__list{
    display: flex;
    justify-content: space-between;
}
.our__item-title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color:#333D4B;
    padding-bottom: 24px;
}
.our__item::before{
        content: "";
        display: inline-block;
        width: 41px;
        height: 49px;
        background-image: url(../../img/united-kingdom.svg);
        background-repeat: no-repeat;
        margin-bottom: 45px;   
}
.our__item::before:nth-child(2){
    content: "";
    display: inline-block;
    width: 52px;
    height: 50px;
    background-image: url(../../img/canada.svg);
    background-repeat: no-repeat;
    margin-bottom: 45px;   
}
.our__item::before:nth-child(3){
    content: "";
    display: inline-block;
    width: 49px;
    height: 44px;
    background-image: url(../../img/australia.svg);
    background-repeat: no-repeat;
    margin-bottom: 45px;   
}
.our__box{
    max-width: 285px;
}
.our__box-link{
    width: 146px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#333D4B;
}

//responsive

@media screen and (max-width:860px) {
    .our__item-title{
        font-size: 26px;
    }
}
@media screen and (max-width:700px) {
    .our__container{
        text-align: center;
    }
    .our__list{
        flex-direction: column;
    }
    .our__box{
        margin: 0 auto;
        margin-bottom: 80px;
    }
}